<form (ngSubmit)="onSubmit()" class="flex flex-col w-[600px] m-auto mt-[100px] text-[15px] p-5 rounded-[1px]">
  <h2 class="text-center font-bold text-[24px] text-gray-700 mb-5">Fill Customer Information</h2>
  
  <!-- Image Preview Section -->
  <div class="flex items-center mb-5">
    <img [src]="imagePreview ? imagePreview : 'assets/default-photo.svg'" alt="Profile Preview" class="w-24 h-24 object-cover rounded-[2px] mr-3 border border-gray-500" />
    <div class="flex flex-col">
      <span class="font-semibold text-gray-500">{{ selectedFile ? selectedFile.name : 'No profile image uploaded' }}</span>
      <div class="relative mt-2">
        <input type="file" (change)="onFileSelected($event)" id="file-upload" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" autocomplete="off" />
        <label for="file-upload" class="flex items-center justify-center border border-red-700 p-2 cursor-pointer text-center text-[14px] font-bold">
          {{ selectedFile && selectedFile.name.length > 20 ? selectedFile.name.slice(0, 20) + '...' : 'Choose a profile picture' }}
        </label>
      </div>
      <button *ngIf="selectedFile" type="button" (click)="removeFile()" class="text-red-600 font-bold mt-1 text-left">
        ✖ Remove
      </button>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-3 w-full">
    <fieldset class="border border-gray-500 mb-5 w-full">
      <legend class="ml-4 font-bold">Customer Name</legend>
      <input [(ngModel)]="customer.name" name="name" placeholder="Enter full name" class="px-3 py-2 text-[14px] w-full outline-none" autocomplete="off" />
    </fieldset>
    
    <fieldset class="border border-gray-500 mb-5 w-full">
      <legend class="ml-4 font-bold">Customer Email</legend>
      <input [(ngModel)]="customer.email" name="email" placeholder="Enter email address" class="px-3 py-2 text-[14px] w-full outline-none" autocomplete="off" />
    </fieldset>
  </div>
  
  <div class="grid grid-cols-2 w-full gap-3">
    <fieldset class="border border-gray-500 mb-5 w-full">
      <legend class="ml-4 font-bold">Phone Number</legend>
      <input [(ngModel)]="customer.phone" name="phone" placeholder="Enter phone number" class="px-3 py-2 text-[14px] w-full outline-none" autocomplete="off" />
    </fieldset>
    
    <fieldset class="border border-gray-500 mb-5 w-full">
      <legend class="ml-4 font-bold">House Address</legend>
      <input [(ngModel)]="customer.address" name="address" placeholder="Enter home address" class="px-3 py-2 text-[14px] w-full outline-none" autocomplete="off" />
    </fieldset>
  </div>
  
  <div class="grid grid-cols-2 gap-3 w-full">
    <fieldset class="border border-gray-500 mb-5 w-full">
      <legend class="ml-4 font-bold">Zip Code</legend>
      <input [(ngModel)]="customer.zipcode" name="zipcode" placeholder="Enter zip code" class="px-3 py-2 text-[14px] w-full outline-none" autocomplete="off" />
    </fieldset>
    <select [(ngModel)]="customer.gender" name="gender" class="text-[14px] border-[1px] border-gray-400 p-2 w-full cursor-pointer self-center">
      <option value="male" class="font-sans">Male</option>
      <option value="female" class="font-sans">Female</option>
    </select>
  </div>

  <div class="grid grid-cols-2 gap-3 w-full">
    <fieldset class="border border-gray-500 mb-5 w-full">
      <legend class="ml-4 font-bold">Website</legend>
      <input [(ngModel)]="customer.website" name="website" placeholder="Enter website" class="px-3 py-2 text-[14px] w-full outline-none" autocomplete="off" />
    </fieldset>

    <fieldset class="border border-gray-500 mb-5 w-full">
      <legend class="ml-4 font-bold">Company</legend>
      <input [(ngModel)]="customer.company" name="company" placeholder="Enter comapny name" class="px-3 py-2 text-[14px] w-full outline-none" autocomplete="off" />
    </fieldset>
  </div>
  <button type="submit" class="px-16 py-2 border-[2px] border-blue-950 text-black rounded-[1px] font-bold text-[15px] w-fit m-auto mt-10">Upload Details</button>
</form>
